---
const { title } = Astro.props;
const site = { title: "Leppävaaran Budoseura" };

import "../styles/normalize.css";
import "../styles/main.scss";
---

<!doctype html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {title ? title + " - " : ""}{site.title}
    </title>

    <slot name="head" />

    <link
      href="/assets/fonts/Metropolis-Regular.woff2"
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      href="/assets/fonts/Metropolis-Bold.woff2"
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link href="https://stats.lebudo.net" rel="preconnect" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/favicons/safari-pinned-tab.svg"
      color="#c30016"
    />
    <meta
      name="msapplication-config"
      content="/assets/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#c30016" />
  </head>
  <body>
    <slot />
  </body>
</html>
